@media screen and (max-width: 440px) {
  /*! GENERAL  */
  section {
    padding-bottom: 30px;
  }

  .section-heading {
    font-size: 32px;
  }

  /*! HOME SECTION  */
  .programmer-svg {
    width: 100%;
  }

  .home-text p:first-child {
    font-size: 28px;
  }

  .home-text p:nth-child(2) {
    font-size: 16px;
  }

  .home-inner-container,
  .about-inner-container,
  .project-inner-container {
    margin-bottom: 20px;
  }

  .nav-links {
    flex-direction: row;
    top: unset;
    right: unset;
    bottom: 10px;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, 0);
  }

  .download-cv {
    padding: 5px 10px;
  }

  /*! ABOUT SECTION  */
  .about-svg {
    width: 100%;
  }
  .about-inner-container {
    margin-top: 10px;
    gap: 10px;
  }
  .about-tab-links {
    gap: 15px;
  }

  /*! PROJECT SECTION  */
  .project-section,
  .project-section-top {
    width: 95%;
  }

  .project-inner-container {
    width: 100%;
  }

  /*PROJECT TEMPLATE  */
  .project-name {
    font-size: 24px;
  }
  .project-description {
    font-size: 16px;
  }
  .view-project {
    padding: 5px 10px;
  }

  /* PROJECT DETAILS */
  .project-detail-start-finish-date {
    margin-bottom: 4px;
  }
  .project-detail-container,
  .project-contribution-container,
  .project-filter-container {
    width: 85%;
  }
  .project-detail-container-inner {
    height: 350px;
    overflow: auto;
  }

  /*! CONTACT SECTION  */
  .contact-main-container {
    width: 95%;
    margin: 20px auto;
  }
  .contact-form {
    gap: 20px;
  }
  .social-links {
    margin-top: 20px;
  }
  .social-links i {
    font-size: 18px;
  }
  .send-message {
    padding: 5px 10px;
  }
  footer {
    font-size: 14px;
  }

  /*! NOTIFICATION POPUP  */
  .popup-msg-notification {
    width: 90%;
    font-size: 14px;
  }
}

@media screen and (max-width: 840px) and (min-width: 439px) {
  /*! GENERAL  */
  section {
    padding-bottom: 60px;
  }

  .section-heading {
    font-size: 38px;
  }

  /*! HOME SECTION  */
  .programmer-svg {
    width: 80%;
  }

  .home-inner-container {
    gap: 10px;
    margin-top: 10px;
  }

  .home-text p:first-child {
    font-size: 32px;
  }

  .home-text p:nth-child(2) {
    font-size: 18px;
  }

  .nav-links {
    flex-direction: row;
    top: unset;
    right: unset;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .download-cv {
    padding: 10px 15px;
  }

  /*! ABOUT SECTION  */
  .about-svg {
    width: 100%;
  }
  .about-inner-container {
    margin-top: 10px;
    gap: 10px;
  }
  .about-tab-links {
    gap: 20px;
  }

  /*! PROJECT SECTION  */
  .project-section,
  .project-section-top {
    width: 95%;
  }

  .project-inner-container {
    width: 100%;
  }

  /*PROJECT TEMPLATE  */
  .project-name {
    font-size: 24px;
  }
  .project-description {
    font-size: 16px;
  }
  .view-project {
    padding: 5px 10px;
  }

  /* PROJECT DETAILS */
  .project-detail-start-finish-date {
    margin-bottom: 4px;
  }
  .project-detail-container,
  .project-contribution-container,
  .project-filter-container {
    width: 85%;
  }
  .project-detail-container-inner {
    height: 350px;
    overflow: auto;
  }
  /*! CONTACT SECTION  */
  .contact-main-container {
    width: 80%;
    margin: 20px auto;
  }
  .contact-form {
    gap: 20px;
  }
  .social-links {
    margin-top: 20px;
  }
  .social-links i {
    font-size: 18px;
  }
  .send-message {
    padding: 5px 10px;
  }
  footer {
    font-size: 14px;
  }
}
