/* @collapse */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background-color: #ffffff;
  --black: #393646;
  --color1: #393646;
  --color2: #c07f00;
  --fff: #fff;
  --ccc: #ccc;
}

[data-theme="dark"] {
  --background-color: #393646;
  --black: #393646;
  --color1: #ffffff;
  --color2: #ffd95a;
  --fff: #fff;
  --ccc: #ccc;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--color1);
  font-family: "Poppins", "Courier New", Courier, monospace;
  position: relative;
  height: 100vh;
}

/*! HEADER 1 */
.nav-links {
  position: fixed;
  background-color: var(--background-color);
  border-radius: 30px;
  padding: 10px;
  /* left: 50%; */
  top: 50%;
  right: 20px;
  /* bottom: 20px; */
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 99999999;
}

.nav-links a {
  text-decoration: none;
  color: var(--color1);
  position: relative;
}

.nav-links i {
  font-size: 24px;
}

/*! ARTICLE  */
.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  z-index: -1000;
}

/*! SECTION  */
section {
  background-color: transparent;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0;
}

/*! HOME SECTION  */
.home-section {
  display: grid;
  grid-template-rows: auto 1fr;
}

.home-inner-container {
  flex-wrap: wrap;
  align-self: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 60px auto;
  align-self: center;
}

.section-heading {
  font-size: 42px;
  text-align: center;
}

.section-heading > span {
  color: var(--color2);
}

.programmer-svg {
  width: 40%;
  height: 100%;
}

.home-text p:first-child {
  font-size: 42px;
}

.home-text p span {
  color: var(--color2);
}

.home-text p:nth-child(2) {
  font-size: 24px;
}

.download-cv {
  display: block;
  text-decoration: none;
  font-size: 18px;
  background-color: var(--color2);
  padding: 10px 15px;
  border-radius: 30px;
  margin-top: 10px;
  width: max-content;
  color: var(--background-color);
  transition: transform 0.4s !important;
}

.download-cv:hover {
  transform: scale(1.02) !important;
}

.download-cv:active {
  transform: scale(0.95) !important;
}

/*! ABOUT SECTION  */
.about-inner-container {
  margin-top: 80px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.about-svg {
  height: 400px;
}

.about-tab-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.tab-links {
  transition: unset !important;
}

.tab-links:hover {
  transform: unset !important;
}

.tab-links:active {
  transform: unset !important;
}

.tab-links {
  color: var(--color1);
  width: max-content;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  padding-bottom: 5px;
}

.tab-links::after {
  content: "";
  background-color: var(--color2);
  height: 4px;
  width: 0;
  bottom: -2px;
  left: 0;
  position: absolute;
  transition: 0.3s;
}

.active-link::after {
  width: 50%;
}

.tab-contents li {
  list-style: disc;
  margin-bottom: 5px;
}

.tab-contents ul li span {
  color: var(--color2);
  margin-bottom: 10px;
  font-size: 20px;
}

.tab-contents {
  display: none;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}

.active-tab {
  display: block;
}

/*! PROJECT SECTION  */
.project-section-top {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 60%;
  margin: 10px auto;
  gap: 20px;
  align-items: center;
}

.search-project-inp {
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  background-color: var(--fff);
  border: solid 1px var(--ccc);
  width: 100%;
}

.project-section-search-bar-container {
  position: relative;
}

.project-section-top > i {
  font-size: 20px;
  color: var(--color2);
  cursor: pointer;
}

.project-inner-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 40px auto;
  margin-bottom: 0;
}

.project-list,
.project-main {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
  /* background-color: antiquewhite; */
  padding: 0 15px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.project-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.project-list::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 20px;
}

.project-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color2);
}

.project-list::-webkit-scrollbar-thumb:active {
  background-color: var(--color2);
}

.project-list::-webkit-scrollbar-corner {
  background-color: var(--fff);
}

.project-list::-webkit-scrollbar {
  width: 5px;
  display: block;
}

/*! PROJECT SERACH AND FILTER */
.search-results-container,
.filter-project-results-container {
  position: absolute;
  top: 100%;
  background-color: var(--fff);
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
  color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.search-results-container
  > .project-template
  > .project-template-top
  > .project-name,
.filter-project-results-container
  > .project-template
  > .project-template-top
  > .project-name {
  font-size: 20px;
}

.search-results-container > .project-template,
.filter-project-results-container > .project-template {
  color: var(--color1);
  gap: 5px;
}
.search-results-container > .project-template > .project-description,
.filter-project-results-container > .project-template > .project-description {
  font-size: 14px;
}

.visit-searched-project {
  align-self: flex-end;
  cursor: pointer;
}

.visit-searched-project:hover {
  color: var(--color2);
}

/*! PROJECT TEMPLATE */
.project-template {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 80%; */
  background-color: var(--background-color);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.project-name {
  font-size: 38px;
  color: var(--color2);
  font-weight: bold;
}

.project-name > span {
  color: var(--color1);
}

.view-project {
  font-size: 18px;
  background-color: var(--color2);
  padding: 10px 15px;
  border-radius: 30px;
  width: max-content;
  align-self: flex-end;
  color: var(--background-color);
  outline: none;
  border: none;
  cursor: pointer;
}

/*! PROJECT DETAIL CONTAINER  */
.project-detail-container {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-detail-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-detail-top > i {
  font-size: 18px;
  cursor: pointer;
}

.project-detail-start-finish-date {
  font-size: 14px;
  align-self: flex-end;
}

.project-detail-start-finish-date span {
  color: var(--color2);
  font-weight: bold;
}

.project-detail-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-detail-top > h1 {
  color: var(--color2);
  font-size: 32px;
}

.project-detail-description,
.project-detail-contributors-container,
.project-detail-tech-stack-container,
.project-detail-links-container {
  font-size: 14px;
  color: var(--color1);
}

.project-detail-container h2 {
  font-size: 16px;
  color: var(--color2);
}

.project-main {
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.project-main-top,
.project-detail-contributors-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-to-project-section {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.back-to-project-section:hover {
  color: var(--color2);
}

.project-detail-title {
  font-size: 34px;
  color: var(--color2);
  font-weight: bold;
}

.project-detail-contributors-top i {
  color: var(--color2);
}

.project-detail-links-container {
  display: flex;
  flex-direction: column;
}

.project-detail-links-container a {
  color: var(--color1);
  text-decoration: none;
}

.project-detail-links-container a:hover,
.project-detail-links-container a:active {
  color: var(--color2);
}

/*! PROJECT CONTRIBUTION CONTAINER  */
.project-contribution-container {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  z-index: 999999;
}

.project-contribution-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-contribution-top h2 {
  color: var(--color2);
  font-size: 28px;
}

.project-contribution-top i {
  font-size: 18px;
  cursor: pointer;
}

.project-contribution-container button {
  background-color: var(--color2);
  color: var(--background-color);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.project-contribution-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.project-contribution-inner-field label {
  display: block;
  font-size: 16px;
  color: var(--color2);
  margin-bottom: 5px;
  font-weight: bold;
}

.project-contribution-inner-field input,
.project-contribution-inner-field select {
  border: solid 1px var(--ccc);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--fff);
  outline: none;
}

.project-contribution-inner-field-sub {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

/*! PROJECT FILTER CONTAINER  */
.project-filter-container {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  z-index: 999999;
}

.project-filter-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-filter-top h2 {
  color: var(--color2);
  font-size: 28px;
}

.project-filter-top i {
  font-size: 18px;
  cursor: pointer;
}

.project-filter-container button {
  background-color: var(--color2);
  color: var(--background-color);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.project-filter-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.project-filter-fields label {
  display: block;
  font-size: 16px;
  color: var(--color2);
  margin-bottom: 5px;
  font-weight: bold;
}

.project-filter-fields input,
.project-filter-fields select {
  border: solid 1px var(--ccc);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--fff);
  outline: none;
}

.project-filter-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-filter-btns button {
  width: max-content;
  padding: 5px 30px !important;
}

/*! CONTACT SECTION  */
.contact-main-container {
  width: 35%;
  margin: 60px auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-email,
.contact-name,
.contact-message {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  border: solid 1px var(--ccc);
  background-color: var(--fff);
}

.contact-message {
  resize: none;
  font-family: "Poppins", "Courier New", Courier, monospace;
}

.send-message {
  align-self: center;
  width: max-content;
  font-size: 18px;
  background-color: var(--color2);
  padding: 10px 15px;
  border-radius: 30px;
  color: var(--background-color);
  transition: transform 0.4s !important;
  cursor: pointer;
  border: none;
  outline: none;
}

.social-links {
  margin: 20px auto;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.social-links > a {
  text-decoration: none;
  color: var(--color1);
  font-size: 24px;
  cursor: pointer;
}

footer {
  text-align: center;
}

/*! NOTIFICATION POPUP */
.popup-msg-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999999;
}

.popup-msg {
  background-color: var(--background-color);
  color: var(--color1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 999;
  pointer-events: auto;
}

.popup-msg-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.popup-msg-close {
  cursor: pointer;
}

.popup-msg-progress {
  height: 3px;
  background-color: var(--color2);
  width: 100%;
  margin-top: 5px;
  transition: width linear;
}

/*! ADDITIONAL */
.hide {
  display: none;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 999999;
}

.blur {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  z-index: 99999;
  backdrop-filter: blur(5px);
}

button {
  transition: transform 0.4s !important;
  /* font-weight: bold; */
}

button:hover {
  transform: unset;
  transform: scale(1.02) !important;
}

i {
  cursor: pointer;
}

.highlight {
  color: var(--color2);
  font-weight: bold;
}

button:active {
  transform: scale(0.95) !important;
}

[data-title]::after {
  z-index: 999;
  content: attr(data-title);
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background-color);
  color: var(--color1);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

[data-title]:hover::after {
  display: block;
}
